:root {
    --input-bg: #9c9c9c60;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
    max-height: 50%;
}

.input-span {
    position: relative;
    width: 100%;
}

input {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    background-color: var(--input-bg);
    outline: 2px solid var(--color-neutral);
}

input:focus {
    outline: 2px solid var(--color-accent);
}

label {
    position: absolute;
    left: 0.75rem;
    top: 1rem;
    color: var(--color-accent);
    font-weight: 600;
    pointer-events: none;
    transform-origin: left top;
    transition: transform .18s ease, color .18s ease;
}

.input-span:has(input:focus) label,
.input-span:has(input:not(:placeholder-shown)) label {
    transform: translateX(-0.2rem) translateY(-1.11rem) scale(.73);
}

.submitButton {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 3rem;
    background-color: var(--color-neutral);
    color: var(--color-text-contrast);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

.submitButton:hover {
    background-color: var(--color-accent);
    color: var(--color-neutral);
}